*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    /* width: 90% */
    font-family:'Times New Roman', Times, serif;
    background-color: lightgrey;
 }

.start{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height:90vh;
    display: flex;
    align-content: center;
    gap: 5rem;
    justify-content: space-between; 
 }
 .break{
    margin: 30px;
 }
.show{
    font-size: larger;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 75px;
    }
h1{
    color: blue;
    }
.helps{
    margin: 10px;
    align-items: center;
    font-size: large;
}
.continue{
    margin-top: 80px; 
    width: 700px;
    height: 100vh;
    margin-bottom: 80px;
 }
.more{
  width:70%;
  background-color: white; 
  border-radius:7px;
  margin-left: 50px;
  margin-bottom: 25px;
  padding-bottom: 50px;
}
input :hover{
    color: lightblue;
}
input[type="text"]{
    width: 95%;
    padding: 15px 55px;
    margin:15px  10px;
    border-radius: 5px;
    box-sizing: border-box;
}
   input[type="password"]{
    width: 95%;
    padding: 15px 55px;
    margin:15px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.button{
    color: white;
    text-align: center;
    display:block;
    font-size: 15px;
    margin: auto;
    background-color: blue;
    padding: 10px 170px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 25px;
 }
.sort{
    text-align: center;
    background-color: green;
    display: block;
    padding: 20px 15px;
    margin: auto;
    color: white;
    border-radius: 5px;
    width:200px;
} 
.end{
    font-size: 20px;
    margin-left: 150px;
    text-decoration: none; 
}
.new{
    font-weight: 300px;
    padding-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 180px;
    }
span{
    font-weight: bolder;
}
